{% extends 'base.html' %}


{% block content %}
    
    </nav>
    <br>
    <br>
    <br>
    <div id="info">
        <h1>About Neuralidays</h1>
        <br>
        <img class= "all_img" src="{{ url_for('static', filename='images/3.jpg') }}" alt="pic 1" imgalign=left>
        <br>
        <br>
        <h3> Neuralidays was founded in 2025 by Marcus Fox and Isabel Hound in the aftermath of the great crash of 2023.</h3>
        <h3>This is when there were major advancements in quantum computing and Neuralink made it possible for virtual environments to be updated in real time with information directly from your brain.</h3>
        <h3>Our main breakthrough has been in the use of VR, AI and Neuralink to record brain signals and then use the information to create a real experience in a virtual environment.</h3>
        <h3>Get ready for a surprise! Let us suggest you take a vacation from yourself. We hope you enjoyed the ride. </h3>
        <h3>Imagine if you had the ability to travel all over the world without moving an inch! Experience your dreams and visit different worlds and historical periods. Are you scared of flying?</h3>
        <h3>Go into space! Your dream holiday is here now from the armchair of your home.</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Neuralink Technology</h1>
        <br>
        <img class= "all_img" src="{{ url_for('static', filename='images/5.jpg') }}" alt="pic 2" imgalign=left> 
        <br>
        <h3 class> The microchips used in Neuralidays were designed by Neuralink which was co-founded by Elon Musk. </h3> 
        <h3>He gave the inspiration for a team of researchers that tested the chips in people's brains. Neuralink aims to "connect humans and computers" according to its website.</h3>
        <h3> In 2025, after 7 years of research they managed to successfully implant a human brain with a microchip that allow them to see for the first time their thoughts and dreams. </h3>
        <h3>This has since been refined further with bio-neural feedback technology rendering through powerful immerse VR technology.</h3>
        <h3> Our technology is completely safe and many of our services did not require us to cut open your skull and insert a chip into it! </h3>  
        <h3>In fact, our latest Neuralink interface uses a 100% accurate holographic reconstruction of your brain to create the environment and biofeedback.</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>VR Technology</h1>
        <br>
        <img class= "all_img" src="{{ url_for('static', filename='images/6.jpg') }}" alt="pic 3" imgalign=left> 
        <br>
        <h3> We employ the latest in VR technology and artificial intelligence algorithms. You will find no ‘slack bots’ here.</h3>
        <h3>Our virtual holidays use avatars and environmental intelligence to mimic the look and feel of a real-world holiday, fantasy excursion, or extreme experience.</h3> 
        <h3> We use the most up to date lightweight data suits, mag-track shoes, an array of motion surfaces, gloves with synthetic nerves, ‘They Live’ VR shades they let you see everything as it is, and fully integrated neural interfaces for all your needs. </h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Other Virtual Services</h1>
        <br>
        <img class= "all_img" src="{{ url_for('static', filename='images/7.jpg') }}" alt="pic 4" imgalign=left>
        <br>
        <h3> Experience your own dreams in a virtual environment as if you are a character in a movie. Pop into one of our centres and we can extract or implant any memory you like, whether dream or reality.</h3>
        <h3> Visit the natural world and experience it without travelling and thus saving Earth’s precious environment.</h3>
        <h3>All you need is to simulate any experience you desire is to connect with Realidays and we will give you the tools to experience your dreams.</h3>
        <h3> You can even explore death and the afterlife too. Pop into one of our virtual centres via you VR app and one of our intelligent virtual assistants will be able to help you.</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Collaborations</h1>
        <br>
        <img class= "all_img" src="{{ url_for('static', filename='images/8.jpg') }}" alt="pic 5" imgalign=left> 
        <br>
        <h3 class = left> Neuralidays works with many partners across the world tacking real problems with real technology. </h3>
        <h3>So far we have worked with the Global Climate Committee to remotely introduce intelligent nano-particles with micro-cameras to regenerate (terraform) the earth’s climate.</h3>
            <h3 class = left> Also we have collaborated with universities and hospitals across the world as leaders in virtual healing and nano-scale virtual-assisted surgery.</h3>
            <h3> Other areas we have contributed to include quantum computing, energy use optimisation, virtual space engineering, and underwater exploration using remote drones linked to our immersive VR environments.</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Research & Development</h1>
        <br>
        <br>
        <img class= "all_img" src="{{ url_for('static', filename='images/13.jpg') }}" alt="pic 6" imgalign=left> 
        <br>
        <h3> Our current research includes the use of VR and spiritual meditation to create authentic experiences of other realms, dimensions, and realities.</h3>
        <h3> We are also looking at developing future technology that uses a mind interface to project your thoughts memories into a collective VR environment for speed-of-thought processing.</h3>
        <h3> If you are interested in working with us please speak to your virtual agent and they will send an avatar to greet you.</h3>
    </div>
    <br>
    <br>
    <br>
    <br>
<footer class="footer">
<h3>This site is for educational and training purposes only.</h3>
</footer>
{% endblock %}

