{% extends 'base.html' %}


{% block content %}
        <br>
        <br>
        <br>
<h1 class="welcome">Welcome to VR Traveling website!!!</h1>
<br>
<br>
<br>
<br>
<h2 class="text2">In this videos we want to introduce you 5 tours from our huge selection!!!</h2>

<span class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lFAp13bbOFQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/L_tqK4eqelA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qhLExhpXX0E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</span>
<br>
<span class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QNEEQ_sl848" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nbD8XYTw23Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/YM6GTu_RcWM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</span>

<footer class="footer">
    <h3>© 2022. Code Nation.</h3>
    <h3> This site is for educational and training purposes only!!!</h3>
</footer>


{% endblock %}

