<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404_PAGE_NOT_FOUND</title>
</head>
<body>
    <style class="error">
        body {
            background-image: url('/static/images/404_1.webp')
        }
    </style>
    <a href="/index"alt="button" title="Home">
    <button class="error_button">HOME PAGE</button>
    </a>
</body>
</html>